* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}

header {
    position: static;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    box-shadow: 0 5px 10px #4400ff;
}

header .logo {
   font-size: 30px;
   font-weight: 800;
   color: rgb(255, 25, 0);
   transition: .5s;
   margin-left: 0px;
}

header .logo:hover {
   transform: scale(1.5);
}

header nav ul li {
   position: relative;
   float: left;
}

header nav ul li a {
   padding: 25px;
   color: black;
   font-size: 16px;
   display: block;
}

header nav ul li a:hover{
   background: rgb(239, 47, 47);
   color: #ffffff;
}

nav ul li ul {
   position: absolute;
   left: 0;
   width: 180px;
   background: #fff;
   display: none;
}

nav ul li ul li {
   width: 100%;
   border: 1px solid rgba(0, 0, 0,.1)
}

nav ul li ul li ul {
   left: 180px;
   top: 0;
}

nav ul li:hover > ul {
   display: initial;
}

#admin {
    font-weight: 1000px;
   font-family: 'Times New Roman', Times, serif;
   font-size: 44px;
   background-color: rgba(2, 107, 254, 0.378);
   text-align: center;
   color: crimson;
}

#text {
    margin: 20px;
    width: 50;
 }
 
 #text1 {
    margin: 20px;
    width: 100;
    font-weight: 200;
    font-size: large;
    text-decoration: underline;
 }